.navbar {
    display: flex;
    width: 100%;    
    justify-content: space-between;
    margin: 10px 0px;
  
}

.nav-link {
    margin: 0px 10px;
    color: #474747
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #111;

}