.navbar {
    display: flex;
    width: 100%;    
    justify-content: space-between;
    margin: 10px 0px;
    background-color: #cc5e5e;
  
}

.nav-link {
    margin: 10px 10px;
    color: #312a2a
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #111;

}